body {
    margin: 0;
    font-family: Georgia, Verdana, Monaco;
}

/* Bottom shadow effect taken from https://stackoverflow.com/questions/3971880/how-to-make-shadow-on-border-bottom */
header {
    font-weight: bold;
    -webkit-box-shadow: 0 4px 6px -6px #222;
    -moz-box-shadow: 0 4px 6px -6px #222;
    box-shadow: 0 4px 6px -6px #222;
    padding: 5px;
}

header a {
    text-decoration: none;
}

.main-title {
    text-align: center;
    color: lightskyblue;
    font-size: 3em;
}

.recipe-category-title {
    color: lightskyblue;
}

.recipe-image {
    height: auto;
    width: 500px;
}

.content {
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
}

a:visited {
    color: black;
}

.content a {
    text-decoration: none;
}

.content a:hover {
    text-decoration: underline;
    font-weight: bold;
}